body{
  background-color: #fafafa;
}
.green-color{
  color:#11A683
}
.text-color{
  color:#4A4A4A;
}
.box{
  box-shadow: 0px 0px 10px 0px #0000001A;
  background: #FFFFFF;
  border-radius: 16px;
}

.gradient-btn{
  background: linear-gradient(90deg, #4285F4 0%, #11A683 100%);
}
.center-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.profile-img{
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
@media (max-width:991px){
  .center-div{
    position: static;
    transform: none;
  }
}
.modal-title{
  display: contents;
}
@media (max-width:365px){
  .profile-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
@media (min-width:991px){
  .grammar-div{
    min-height: 100vh
  }
}